<section class="d-flex flex-column h-100">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>

  <main class="flex-grow-1 flex-shrink-1">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</section>
