<div class="container mt-5">
  <h1>gRPC API</h1>
  <p class="mb-5">
    Check server status using gRPC
  </p>

  <button class="btn btn-primary mb-5" (click)="getServerStatus()">Get Server Status</button>

  <div class="result-block-container" *ngIf="responseJson">
    <div class="result-block" [ngClass]="{ show: !!responseJson }">
      <h6 class="muted">Result</h6>
      <pre>
        <code class="js rounded" [highlight]="responseJson"></code>
      </pre>
    </div>
  </div>
</div>
