<div class="container mt-5">
  <h1>Uint Sales API</h1>
  <p class="mb-5">
    Gte a list of sales by clicking the button below.
  </p>

  <button class="btn btn-primary mb-5" (click)="pingApi()">Load Sales</button>

  <section class="result-block-container" *ngIf="hasSales">
    <table class="table table-striped" [ngClass]="{ show: hasSales }">
      <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Customer Age</th>
        <th scope="col">Sale Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sale of sales; index as i">
        <td>{{ sale.storeLocation }}</td>
        <td>{{ sale.customer.email }}</td>
        <td>{{ sale.customer.age | number }}</td>
        <td>{{ sale.saleDate| date }}</td>
      </tr>
      </tbody>
    </table>
  </section>

</div>
