<div class="next-steps my-5">
  <h2 class="my-5 text-center">What can I do next?</h2>

  <section class="row">
    <article class="col-md-5 mb-4">
      <h6 class="mb-3">
        <a href="https://auth0.com/docs/connections">
          <fa-icon [icon]="faLink"></fa-icon>
          Configure other identity providers
        </a>
      </h6>
      <p>
        Auth0 supports social providers as Facebook, Twitter, Instagram and
        100+, Enterprise providers as Microsoft Office 365, Google Apps, Azure,
        and more. You can also use any OAuth2 Authorization Server.
      </p>
    </article>

    <div class="col-md"></div>

    <article class="col-md-5 mb-4">
      <h6 class="mb-3">
        <a href="https://auth0.com/docs/multifactor-authentication">
          <fa-icon [icon]="faLink"></fa-icon>
          Enable Multifactor Authentication
        </a>
      </h6>
      <p>
        Add an extra layer of security by enabling Multi-factor Authentication,
        requiring your users to provide more than one piece of identifying
        information. Push notifications, authenticator apps, SMS, and DUO
        Security are supported.
      </p>
    </article>
  </section>
</div>
