<section class="text-center hero my-5">
  <header>
    <img class="mb-3 app-logo" src="../../assets/logo.png" alt="Angular logo"/>
    <h1 class="mb-4">Angular Sample Project</h1>

  </header>

  <p class="lead">
    This is a sample application that demonstrates an authentication flow for an
    SPA, Express API and gRPC using
    <a href="https://angular.io">Angular</a>
  </p>
</section>

